<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Roles</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.roles }}</td>
      <td>
        <button
          *ngIf="prijavaService.validateRoles(['ROLE_ADMIN'])"
          (click)="obrisi(user.id)"
        >
          Obrisi
        </button>
        <button
          *ngIf="prijavaService.validateRoles(['ROLE_ADMIN'])"
          (click)="azuriraj(user, user.id)"
        >
          Azuriraj
        </button>
        <button (click)="detalji(user.password)">Detalji</button>
      </td>
    </tr>
  </tbody>
</table>
<app-korisnici-izmena
  [updateUser]="selectedUser"
  (onSubmit)="azurirajKorisnika($event)"
  *ngIf="prijavaService.validateRoles(['ROLE_ADMIN']) && prikaziFormu"
></app-korisnici-izmena>

<app-korisnici-detalji
  *ngIf="prijavaService.validateRoles(['ROLE_ADMIN', 'ROLE_USER']) && pass"
  [password]="pass"
>
</app-korisnici-detalji>
