<div class="form">
  <input
    type="text"
    name="username"
    placeholder="username"
    [(ngModel)]="user.username"
  />
  <input
    type="password"
    name="password"
    placeholder="password"
    [(ngModel)]="user.password"
  />
  <button (click)="prijavi()">Login</button>
</div>
